# # Python

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
lib/
lib64/

# # LaTeX

# Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# minted
_minted*
*.pyg

# Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# listings
*.lol
